{{!-- Cria um campo com uma caixa de texto de title e de content, --}}
{{!-- depois com um botão para enviar os dados para a outra página --}}

<form action="/add" method="POST">
    <p>Title: </p>
    <input type="text" name="title">
    <p>Content: </p>
    <textarea name="content"></textarea>
    <button type="submit">Register post</button>
</form>