{{!-- Aponta que a exclusão foi feita com sucesso e apresenta  --}}
{{!-- um botão para voltar para a página anterior --}}

<h1>Deleted post succesful</h1>
<a href="/"><button>Return to PostList page</button></a>